{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    
        <div class="tech-pagep">
            {{ content }}
        </div>
    

    {% include 'incl/footer.twig' %}
</body>

</html>
